---
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props as Props;
const siteName = "Alex Kotovsky";
const fullTitle = pageTitle ? `${pageTitle} | ${siteName}` : siteName;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{fullTitle}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <Header />
            <slot />
        </div>
    </body>
</html>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 940px;
        margin: 0 auto;

        font-family: "PT Serif", "Inter", "Segoe UI", "Open Sans", sans-serif;
    }
    @media (max-width: 940px) {
        .container {
            padding: 0 3%;
        }
    }
</style>
